/* Utilities */

body {
    overflow-x: hidden;
}

.bbShade {
    border-bottom: 1px solid rgba(61,64,91,.1);
    box-shadow: 0 3px 8px rgb(61 64 91 / 5%);
}

.greenShade {
    border: 1px solid #75c9a8;
    border-radius: 3%;
    box-shadow: 6px 3px 3px #75c9a8;
}

.darkBkgrd {
    background-color: #00213f !important;
}

/* Mobile styles */

.jsLogo {
    max-height: 4rem !important;
}

.navbarBrand {
    align-items: center !important;
}

.heroContainer {
    margin-bottom: 6rem;
}

.heroImage {
    grid-area: 1/1;
    max-height: 100vh;
}

.profilePic {
    border-radius: 3%;
    display: block;
    margin: auto;
    width: 60%;
    border: 1px solid rgba(61,64,91,.1);
    box-shadow: 0 3px 8px rgb(61 64 91 / 5%);
}

.shortBio h1, .shortBio p {
    padding: 20px;
}

.shortBio h1, .shortBio div  {
    text-align: center;
}

.shortBio p {
    line-height: 1.5;
}

.portfolioCards {
    margin: 1rem;
    background-color: whitesmoke !important;
}

.portfolioTitle {
    padding: 20px 40px;
}

.portfolioDescription {
    text-align: left;
    padding: 20px 40px;
}

.whatSection {
    padding: 20px !important;
    background-color: whitesmoke !important;
    border-radius: 0.25rem;
    box-shadow: 0 0.5em 1em -0.125em rgb(43 37 35 / 10%), 0 0px 0 1px rgb(43 37 35 / 2%);
}

.whatSection h3 {
    text-align: center;
}

.whatSection p {
    text-align: left;
}

.features p {
    max-width: 50%;
    margin: auto;
    margin-top: 1rem;
}

.modalCard {
    padding: 20px;
}

.latestBlogs h3 {
    text-align: center;
}

.outer {
    margin-bottom: 6rem;
}


/* 
.companyLogo {
    For modal script
}
*/

.companyLogoImage {
    border: 1px solid #ffaa9b;
    box-shadow: 6px 3px 3px #ffaa9b;
    border-radius: 3%;
    width: 100px;
    -webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}

.companyLogoImage:hover {
    cursor: pointer;
    -webkit-transform: scale(0.9);
	transform: scale(0.9);
}